    <!-- On attaque le gros Jumbotron des familles -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Boite à outil de l'EPN !</h1>
        <p>Bienvenue sur l'accès à nos outils internes. Si vous n'avez pas encore vos accès, merci de les créer ou de nous les demander. Sinon, parcourez ci-dessous la liste des applications installées.</p>
        <p><a class="btn btn-primary btn-lg" href="?page=contact" role="button">Demander un accès &raquo;</a></p>
      </div>
    </div>

    <div class="container">
     <!--On commence les colonnes ici-->
      <div class="row">
        <div class="col-md-4">
          <h2>Wekan</h2>
          <p>Wekan est un logiciel de kanban que nous utilisons pour plannifier des petits projets, notamment le planning trimestriel. </p>
          <p><a class="btn btn-secondary" href="http://78.194.146.69:8080" role="button">Accéder &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Un autre super service ici</h2>
          <p>Bientôt... ;) </p>
          <p><a class="btn btn-secondary" href="#" role="button">Bientôt :) &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Encore un super service ici</h2>
          <p>Bientôt... ;) </p>
          <p><a class="btn btn-secondary" href="#" role="button">Bientôt :) &raquo;</a></p>
        </div>
      </div>
